/*..........All..........*/

$container-width: 1200px;
$primary-color: #21B573;
$secondary-color: #068d50;

$section-padding: 50px 0px;
$section-padding2: 30px 20px;

$title-color: #413960;
$second-title-color: #585859;


/*..........Hero Section..........*/
$hero-padding: 35px 0px 50px 0px;
$hero-back-color: #F0FFF0;

$hero-title: 48px;
$illustration-width: 555px;

/*..........2nd Section..........*/
$item-background: #F8FFFB;


/*............Footer..........*/
$footer-padding: 50px 0px 20px 0px;
$footer-background: #282531;